<!doctype html>
<html>
  <head>
    <title>My Angular App</title>    
   
    <!-- STYLES -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


    <!-- APP SCRIPTS -->
    <script src="app.js"></script>
  </head>
  <body ng-app="starter">
    <ng-include src="'navbar.html'"></ng-include>

    <div class="container" ng-controller="MyFirstCtrl">

        <form ng-submit="searchMovies()">
          <input ng-model='search' autofocus/>
          <button type="submit">Submit</button>
        </form>

        <i class="icon ion-home"></i>
        
        <div ng-show="noMovies"><h1>No movies found with that search!</h1></div>

        <div ng-repeat="movie in movies">

        <h1>{{movie.Title}}</h1>
        <!-- <img src="{{movie.poster_url}}"> -->
        <br>

        </div>

      <p class='text-right'>
        <button class='btn btn-default' ng-click="addPoint()">Add Point</button>
      </p>
    </div>


    <script type="text/ng-template" id="navbar.html">
      <nav class="navbar navbar-inverse" style="border-radius:0;" ng-controller="NavbarCtrl">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ngStarter</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Link</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

              <li><a href="#">{{current_user.points_count}} Points</a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </script>

  </body>
</html>